/***** Mes Styles *****/

	h1 {
		text-align:center;
	}
	.justifie {
		text-align:justify;
	}
	.bleu {
		color:blue;
	}
	
#titre {
		text-decoration:underline;
}

#menu{
text-align:center;
}

#menu strong {
	display:none;
	}
	
#menu ul {
	list-style:none;
	}
	
#menu li {
	display:inline;
	background-color:darkgreen;
	padding:6px;
	}
#menu li a {
	color:lightpink;
	}

@media (max-width:640px){
	img{
		width:100%
	}
	#menu strong {
		display:block;
	}
	#menu ul {
		display:none;
		margin:0;
		padding:0;
		width:100%;
		position:absolute;
	}

	#menu:hover ul {
		display:block;
	}
	#menu li {
		display:block;
	}
}
